body {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-image: url('img/deser_background_img.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: 0px;
    height: 100vh;
    font-family: 'zabra';
}

table{
    margin-left: 120px;
}
table td {
    width: 300px;
}

button {
    cursor: pointer;
}

h1 {
    font-size: 80px;
}

p {
    font-size: 30px;
    color: white;
}

@font-face {
    font-family: 'zabra';
    src: url('fonts/zabars.ttf');
}

canvas {

    background-color: black;
    display: block;

}

#fullscreen {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
}

.guide-container {
    height: 100%;
    font-size: 50px;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 3;
    background-image: url("img/userAssets/controls.png");
    background-position-y: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: black;
}

.game-over-container{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 2;
}

.game-over-container img{
    width: 100%;
    height: 100%;
}

.game-over-buttons{
    position: absolute;
    display: flex;
    bottom: 0;
    justify-content: space-between;
    width: 100%;
}

.game-over-buttons button{
    height: 55px;
    width:170px;
    border-radius: 13px;
}



#cover {
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 187px;
    position: absolute;
    width: 860px;
    height: 480px;
    background-image: url("img/9_intro_outro_screens/start/startscreen_2.png");
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 25px;

}

#cover button {
    margin-top: 50px;
    width: 100px;
    height: 40px;
    border-radius: 25px;
    background-color: #FFB500;
    font-family: 'zabra';
    font-size: 30px;



}

#cover img {
    width: 100%;
    height: 100%;

}

.userInterface {
    position: absolute;
    right: 9px;
    top: 5px;
    width: 109px;
    display: flex;
    justify-content: space-between;
    z-index: 4;

}

.fullscreen-button-container {
    top: 15px;
    left: 9px;
    position: absolute;
    display: flex;
    justify-content: flex-end;

}

.fullscreen-button-container img {
    height: 30px !important;
    width: 30px !important;
    cursor: pointer;
}

.userInterface img {
    height: 30px;
    width: 30px;
    cursor: pointer;
}

.remote-panel{
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    width: 100%;

}

.remote-panel img{
    width: 50px;
    height: 50px;
    z-index: 4;
    margin-left: 10px;
    margin-right: 10px;
    cursor: pointer;
}

.remote-panel img:hover{
    transform: scale(1.1);
}

.fullscreen-button-container img:hover {
    transform: scale(1.2);
}

.userInterface img:hover {
    transform: scale(1.2);
}


@media(max-width:990px){
    .title{
        display: none;
    }

    #cover{
        top: 0;
        width: 100%;
        height: 100%;
        border-radius: 0;
    }

    table{
        margin-left: 64px;
    }
}

@media(max-height:450px)and (min-width: 700px){
    #cover{
        background-position-y: -37px;
    }
}

@media only screen and (max-width:720px) {
    canvas {
        width: 100%;
        
    }
    .title{
        display: none;
    }
}

@media only screen and (max-height:480px) {
    canvas {
        height: 100vh;
    }
}